@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Egypt<br />
    Cairo, 15 May City<br />
    <abbr title="Phone"></abbr>
    0100 5036 442
</address>

<address>
    <strong>Email:</strong> <a href="mailto:ahmed.m.mansour1111@gmail.com">ahmed.m.mansour1111@gmail.com</a><br />
    
</address>
